{% extends "logged_layout.html" %}
{% load flatpages %}
{% block content %}
<h3 class="text-center">Содержание</h3>
    {% get_flatpages for user as flatpages %}
    <ul class="list-unstyled text-center">
        {% for page in flatpages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
