{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block content %}
<form action="" method="post" class="form form-horizontal">
    {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
    {% endbuttons %}
</form>
{% endblock content %}
