{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block headscript %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
{% endblock headscript %}
{% block content %}
<form action="{% url 'dashboard' %}" method="post" class="form form-inline">
    {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Выбрать</button>
    </div>
    {% endbuttons %}
</form>
<h2>Метрика</h2>
<div id="metrika_container" style="width:100%; height:300px;"></div>

<h2>Заявки</h2>
<div id="order_container" style="width:100%; height:300px;"></div>

<h4>Динамика (посетители по Метрике, количество заявок)</h4>
<div id="dinamic_container" style="width:100%; height:300px;"></div>

<h2>Реализации</h2>
<div id="sell_container" style="width:100%; height:300px;"></div>

<h2>Возвраты</h2>
<div id="return_container" style="width:100%; height:300px;"></div>
{% endblock content %}
{% block script %}
<script>
$(function() {
    $('form input[name^="date_"]').datepicker({
            format: 'dd.mm.yyyy',
            language: 'ru',
            todayHighlight: true,
            autoclose: true
        });
});
$(function() {
    $.get('{% url "metrika_csv_data" date1=date_from date2=date_to %}', function(csv) {
        $('#metrika_container').highcharts({
            data: {
                csv: csv
            },
            title: {
                text: null
            },
            yAxis: [{
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                title: {
                    text: '{{ metric_labels.visitors }}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                min: 0

            }, {
                gridLineWidth: 0,
                title: {
                    text: '{{ metric_labels.page_views }}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '{value} %',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                min: 0

            },{
                gridLineWidth: 0,
                title: {
                    text: '{{ metric_labels.denial }}',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                labels: {
                    format: '{value} %',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true,
                min: 0

            }, {
                gridLineWidth: 0,
                title: {
                    text: '{{ metric_labels.visit_time }}',
                    style: {
                        color: Highcharts.getOptions().colors[3]
                    }
                },
                labels: {
                    format: '{value} сек',
                    style: {
                        color: Highcharts.getOptions().colors[3]
                    }
                },
                opposite: true,
                min: 0
            }],
            series: [{
                name: '{{ metric_labels.visitors }}',
                type: 'spline',                
                data: [],
            },{
                name: '{{ metric_labels.page_views }}',
                type: 'spline',                
                data: [],
                yAxis: 1
            },{
                name: '{{ metric_labels.denial }}',
                type: 'spline',
                data: [],
                yAxis: 2
            }, {
                name: '{{ metric_labels.visit_time }}',
                type: 'spline',
                data: [],
                yAxis: 3
            }]
        });
    })

});

$(function () {
    $.get('{% url "dinamic_csv_data" date1=date_from date2=date_to %}',function (csv) {
        $('#dinamic_container').highcharts({
            data: {
                csv: csv,
                parseDate: function(){return false;}
            },
            title: {
                text: null
            },
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                title: {
                    text: '{{ metric_labels.visitors }}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                min: 0

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Заказы',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true,
                min: 0

            }],
            series: [{
                name: '{{ metric_labels.visitors }}',
                type: 'spline',                
                data: [],
            },{
                name: 'Заказы',
                type: 'spline',
                data: [],
                yAxis: 1
            }]
        });
    })

});
{% for data_type in data_types %}
    $(function () {
        $.get('{% url "crm_csv_data" date1=date_from date2=date_to data_type=data_type %}',function (csv) {
            $('#{{data_type}}_container').highcharts({
                data: {
                    csv: csv,
                    parseDate: function(){return false;}
                },
                title: {
                    text: null
                },
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    title: {
                        text: 'Количество',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    min: 0

                }, { // Secondary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Сумма',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    labels: {
                        format: '{value} р.',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    opposite: true,
                    min: 0

                }, { // Tertiary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Средняя операция',
                        style: {
                            color: Highcharts.getOptions().colors[2]
                        }
                    },
                    labels: {
                        format: '{value} р',
                        style: {
                            color: Highcharts.getOptions().colors[2]
                        }
                    },
                    opposite: true,
                    min: 0
                }],
                series: [{
                    name: 'Количество',
                    type: 'spline',                
                    data: [],
                },{
                    name: 'Сумма',
                    type: 'spline',
                    data: [],
                    yAxis: 1
                }, {
                    name: 'Средняя операция',
                    type: 'spline',
                    data: [],
                    yAxis: 2
                }]
            });
        })

    });
{% endfor %}


</script>
{% endblock script %}
