{% extends "logged_layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block headscript %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="{% static "js/top.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/top.css" %}">
{% endblock headscript %}
{% block content %}
<form action="" method="post" class="form form-inline">
    {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Выбрать</button>
    </div>
    {% endbuttons %}
</form>
<h2>Наполненность ТОПа</h2>
<div id="top_container" style="width:100%; height:300px;"></div>
{% verbatim %}
<div class="table" ng-app="TopApp" ng-controller="TopCtrl">
<table class="top-table">
<thead>
    <tr>
        <th>#</th>
        <th>Арт.</th>
        <th ng-click="changeSort('rest')">Остаток</th>
        <th></th>
        <th ng-click="changeSort('name')">Название</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="item in data|orderBy:config.sortKey:config.sortReverse track by item.id">
        <td ng-bind="$index+1"></td>
        <td ng-bind="item.article"></td>
        <td ng-bind="item.rest" ng-class="{green:item.rest>10,orange:item.rest==0}" class="color-mark"></td>
        <td>
            <span ng-if="item.flagdiscountdis">!</span>
            <span ng-if="item.flagdiscountoff">*</span>
        </td>
        <td><a href="{{item.imageaddress}}" ng-bind="item.name"></a></td>
    </tr>
</tbody>
</table>
</div>
{% endverbatim %}
{% endblock content %}
{% block script %}
<script>
angular.module('TopApp').value('data', '{{ last_date_data|safe }}');
$(function() {
    $('form input[name^="date_"]').datepicker({
            format: 'dd.mm.yyyy',
            language: 'ru',
            todayHighlight: true,
            autoclose: true
        });
});
$(function() {
    $.get('{% url "top_csv_data" date1=date_from date2=date_to %}', function(csv) {
        $('#top_container').highcharts({
            data: {
                csv: csv
            },
            title: {
                text: null
            },
            yAxis: [{
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                title: {
                    text: 'Количество',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                min: 0

            }],
            series: [{
                name: 'Количество',
                type: 'spline',
                data: []
            }]
        });
    });

});

</script>
{% endblock script %}
