{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block content %}
    {% bootstrap_messages %}
    {# <h2>Ручной ввод платежа</h2> #}
    {# Display a form #}
    <form action="?next={{ next }}" method="post" class="form form-horizontal">
        {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          {% buttons %}
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ multi_action|yesno:'Сохранить и перейти к следующему обращению,Сохранить'}}</button>
        </div>
        {% endbuttons %}
    </form>
{% endblock content %}
