{% extends "logged_layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block headscript %}
    <link rel="stylesheet" type="text/css" href="{% static "css/claim.css" %}">
{% endblock headscript %}
{% block content %}
{% bootstrap_messages %}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="{% url 'new-claim' %}"><i class="glyphicon glyphicon-plus"></i> Добавить запись</a>
    </div>
</div>
{% if is_paginated %}
    {% bootstrap_pagination page_obj %}
{% endif %}
<form action="{% url 'multi-action' %}">
    <div class="btn btn-group">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-share-alt"></i> Выгрузить отмеченные</button>
        <button type="submit" class="btn btn-default" name="action" value="spam"><i class="glyphicon glyphicon-trash"></i> Поместить в спам</button>
    </div>
    <table class="table" id="claim-list">
    <colgroup />
    <colgroup />
    <colgroup width="20%"/>
    <colgroup width="50%"/>
    <colgroup />
    <colgroup  width="10%"/>
        <thead>
            <tr>
                <td><input type="checkbox" class="check-all"></td>
                <th>ID</th>
                <th>Автор | Тема</th>
                <th>Сообщение</th>
                <th>Дата отправки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for claim in claim_list %}
                <tr class="{% if not claim.is_seen_display %}
                    info
                {% endif %}
                {% if claim.exported %}
                    success
                {% endif %}
                ">
                    <td><input type="checkbox" name="ids" value="{{ claim.id }}"></td>
                    <td>{{ claim.email_uid }}</td>
                    <td class="wrap-words">
                        <a href="mailto:{{ claim.sender }}">{{ claim.sender }}</a> <br/>
                        {{ claim.subject|truncatechars:50 }}
                    </td>
                    <td class="wrap-words">{{ claim.message|linebreaksbr|truncatechars_html:160 }}</td>
                    <td>{{ claim.sended_on }}</td>
                    <td>
                        <div class="btn btn-group btn-group-xs">
                            
                            <a class="btn btn-default btn-small" href="{% url 'edit-claim' pk=claim.pk %}"><i class="glyphicon glyphicon-share-alt" title="Выгрузить"></i></a>
                            <a class="btn btn-default btn-small" href="{% url 'to-spam-claim' pk=claim.pk %}"><i class="glyphicon glyphicon-trash" title="Спам"></i></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="5">Нет записей</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% if is_paginated %}
    {% bootstrap_pagination page_obj %}
{% endif %}
{% endblock content %}
{% block script %}
    <script type="text/javascript">
    (function(jQuery){
        var $ = jQuery;
        var claimTable = $('#claim-list');
        var claimCheckboxes = claimTable.find('tbody :checkbox');
        claimTable.find('thead :checkbox').change(function(){
            var state = $(this).prop('checked');
            claimCheckboxes.prop('checked', state);
        })
    }
    )($)
    </script>
{% endblock script %}
