{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block content %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <form action="" class="form" method="post">
    {% csrf_token %}
        <table class="table">
            <colgroup />
            <colgroup />
            <colgroup />
            <colgroup />
            <colgroup width="60%"/>
            <thead>
                <tr>
                    <th><input type="checkbox" id="toggle-all"></th>
                    <th>Сумма</th>
                    <th>Дата</th>
                    <th>Плательщик</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
            {% for record in object_list %}
                <tr>
                    <td><input type="checkbox" name="id" value="{{ record.id }}"></td>
                    <td class="text-right">{{ record.summ|floatformat:2 }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.payer }}</td>
                    <td>{{ record.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% buttons %}
            <button type="submit" class="btn btn-primary">Отправить</button>
        {% endbuttons %}
    </form>
{% endblock content %}
{% block script %}
<script>
    $('#toggle-all').change(function(e){
        var checked = $('#toggle-all').is(':checked');
        $(':checkbox').not('#toggle-all').prop('checked', checked)
    })
</script>
{% endblock script %}
