{% load bootstrap3 %}
{# Display a form #}
<form action="{% url 'import_bank' %}" method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
    {% endbuttons %}
</form>

