{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_messages %}
<div class="row search-form">
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="get" class="form form-inline">
              {% bootstrap_form form layout='inline' %}
              {% buttons %}
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Искать</button>
            {% endbuttons %}
        </form>
        <div class="clearfix"></div>
    </div>
</div>
    <table class="table table-condensed table-striped table-hover table-bordered">
    <colgroup />
    <colgroup />
    <colgroup />
    <colgroup />
    <colgroup width="60%"/>
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Источник</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pay_info in object_list %}
            <tr>
                <td>{{ pay_info.id }}</td>
                <td>{{ pay_info.date|date }}</td>
                <td class="text-right"><span>{{ pay_info.summ|floatformat:2}}</span></td>
                <td>{{ pay_info.get_source_display }}</td>
                <td>{{ pay_info.comment }}</td>
                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{% url "pay_export" pk=pay_info.pk %}" class="btn btn-default" title="Выгрузить"><i class="glyphicon glyphicon-share-alt"></i></a>
                        <a href="{% url "pay_delete" pk=pay_info.pk %}" class="btn btn-default" title="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Нет записей</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock content %}
