{% extends "logged_layout.html" %}
{% load bootstrap3 %}
{% block content %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <h2>Ручной ввод платежа</h2>
    {# Display a form #}
    <form action="{% url 'pay' %}" method="post" class="form form-horizontal">
        {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          {% buttons %}
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
        {% endbuttons %}
    </form>
    <hr>
    <h2 class="text-center">или</h2>
    <hr>
    <h2>Импорт файла из банка</h2>
    {% include "pay/import_file_form.html" with form=form2 %}
{% endblock content %}
{% block script %}
    <script>
        $('form input[name="date"]').datepicker({
            format: "dd.mm.yyyy",
            language: "ru",
            todayHighlight: true,
            autoclose: true
        });
    </script>    
{% endblock script %}
