{# Load the tag library #}
{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}
        Благовест {{ app_title }}        
    {% endblock title %}</title>
    {# Load CSS and JavaScript #}
    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}" />
    {% bootstrap_css %}
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static "vendor/datepicker/css/datepicker3.css" %}">
    <script type="application/javascript" src="{% static "vendor/datepicker/js/bootstrap-datepicker.js" %}"></script>
    <script type="application/javascript" src="{% static "vendor/datepicker/js/locales/bootstrap-datepicker.ru.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    {% block headscript %}
        
    {% endblock headscript %}
</head> 
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="{% static "logo.png" %}">
              </a>
            </div>
        {% block headmenu %}
    
        {% endblock headmenu %}
        </div>
    </div>
</nav>

<!-- <div class="page-header">
    <h1>Благовест <small>{{ app_title }}</small></h1>
</div> -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% block content %}
            
        {% endblock content %}
    </div>
</div>
{% block script %}
    
{% endblock script %}
</body>
</html>
