{% extends "base.html" %}
{% load activeurl %}
{% block headmenu %}
{% activeurl menu="yes" %}
<ul class="nav navbar-nav">
    {% if perms.metric.can_view_stat %}
        <li>
            <a href="{% url 'dashboard' %}">Статистика</a>
        </li>
    {% endif %}
    {% if perms.metric.can_view_top %}
        <li>
            <a href="{% url 'top' %}">ТОП</a>
        </li>
    {% endif %}
    {% if perms.pay %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Платежи
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if perms.pay.can_view_payinfo %}
                    <li>
                        <a href="{% url 'log' %}">Журнал платежей</a>
                    </li>
                {% endif %}
                {% if perms.pay.can_add_payinfo %}
                    <li>
                        <a href="{% url 'pay' %}">Ввод платежа</a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
    {% if perms.claim.can_work_with_claims %}
        <li>
            <a href="{% url 'claim-list' %}">Обращения</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'docs' %}">Инструкции</a>
    </li>
    <li>
        <a href="{% url 'forum' %}">Форум</a>
    </li>
    {% if user.is_staff %}
        <li>
            <a href="{% url 'admin:index' %}">Администрирование</a>
        </li>
    {% endif %}
</ul>
{% endactiveurl %}
{% if user.is_authenticated %}
    <p class="navbar-text navbar-right">Вы вошли как <b>{{user}}</b> | <a href="{% url 'logout_then_login' %}" class="navbar-link">Выйти</a></p>
{% else %}
    <p class="navbar-text navbar-right"><a href="{% url 'login' %}" class="navbar-link">Войти</a></p>
{% endif %}
{% endblock headmenu %}

{% block content %}

{% endblock content %}
